<%- partial('partial/head') %>
<%- partial('partial/header') %>

<div class="page-content">
    <div class="container">
        <% if (page.current == 1) { %>
            <div class="recomands">
                <% site.posts.each(function(post) { %>
                <% if (post.recomand) { %>
                <div class="recomand" style="background-image: url(/<%= post.thumbnail %>);">
                    <a href="<%= post.path %>"></a>
                </div>
                <% } %>
                <% }); %>
            </div>
        <% } %>

        <div class="articles">
            <% if (page.current == 1) { %>
            <h2 class="cate-name">设计精选</h2>
            <% } %>
            <% page.posts.each(function(post) { %>
            <article class="article">
                <% if (post.thumbnail) { %>
                <div class="thumbnail" style="background-image: url(/<%= post.thumbnail %>);">
                <% } else { %>
                <div class="thumbnail">
                <% } %>
                    <a href="/<%= post.path %>"></a>
                </div>
                <div class="content">
                    <h2 class="title">
                        <a href="/<%= post.path %>"><%= post.title %></a>
                    </h2>
                    <div class="excerpt">
                        <% if (post.excerpts != '') { %>
                            <p><%= post.excerpts %> ...</p>
                        <% } %>
                    </div>
                </div>
            </article>
            <% }); %>
        </div>
        <div class="pagination">
            <% if (page.prev != 0) { %>
                <a href="/<%= page.prev_link %>" class="page-prev">上一页</a>
            <% } %>
            <% if (page.next != 0) { %>
                <a href="/<%= page.next_link %>" class="page-next">下一页</a>
            <% } %>
        </div>
    </div>
</div>

<%- partial('partial/footer') %>
<%- partial('partial/foot') %>
