<%- partial('partial/head') %>
<%- partial('partial/header') %>

<div class="page-content">
    <% if (page.thumbnail) { %>
    <div class="thumbnail" style="background-image: url(<%= page.thumbnail %>);"></div>
    <% } %>
    <div class="container">
        <article class="article">
            <div class="head">
                <h1 class="heading"><%= page.title %></h1>
            </div>
            <div class="content">
                 <%- page.content %>
            </div>
        </article>
    </div>
</div>

<%- partial('partial/footer') %>
<%- partial('partial/foot') %>
