<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>
        <% if (page.title) { %>
            <%= page.title + ' - ' + config.title %>
        <% } else if(is_tag()) {%>
            <%= 'Tags' + ' - ' + config.title %>
        <% } else if(is_category()) {%>
            <%= 'Category' + ' - ' + config.title %>
        <% } else if(is_archive()) {%>
            <%= 'Archive' + ' - ' + config.title %>
        <% } else {%>
            <%= config.title %>
        <% } %>
    </title>
    <% if (config.track || theme.track) { %>
    <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";analytics.load("Xx4cT6OKXLOaRlpJ1LtUI8RnUmtkl2IH");analytics.page();
        }}();
    </script>
    <% } %>
    <script>
    ;(function(win, doc) {
        var docEl = doc.documentElement,
            UA = navigator.userAgent;
        var refreshRemId;
        var refreshRem = function() {
            var w = docEl.getBoundingClientRect().width || 320;
            var fontSize = w / 320 * 20;
            fontSize = fontSize > 40 ? 40 : fontSize;
            docEl.style.fontSize = fontSize + 'px';
            var finalFontSize = parseFloat(win.getComputedStyle(docEl).getPropertyValue('font-size'));
            if (finalFontSize === fontSize) return;
            fontSize = fontSize + (fontSize - finalFontSize);
            docEl.style.fontSize = fontSize + 'px';
            win.fontSize = fontSize;
        };
        win.addEventListener('resize', function() {
            clearTimeout(refreshRemId);
            refreshRemId = setTimeout(refreshRem, 100);
        }, false);
        win.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                clearTimeout(refreshRemId);
                refreshRemId = setTimeout(refreshRem, 100);
            }
        }, false);
        refreshRem();
    })(window, document);
</script>
    <link rel="shortcut icon" href="/favicon.ico">
    <%- css('/dist/css/app.css') %>
</head>

<% if (is_home()) { %>
<body data-page="home">
<% } else if(is_post()) { %>
    <body data-page="article">
<% } else { %>
<body data-page="page">
<% } %>
