<header class="header">
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="<%= config.url || theme.url %>">
                    <img src="<%= config.logo || theme.logo %>" alt="<%= config.title || theme.title %>">
                </a>
            </div>
            <div class="icon icon-nav js-icon-nav<%= theme.showNav == true ? ' visible' : '' %>"></div>
        </div>
    </nav>
</header>

<div class="panel js-panel" data-type="menu">
    <ul class="menu">
        <% for (var name in theme.menus) { %>
        <li><a href="<%= theme.menus[name] %>"><%= name %></a></li>
        <% }; %>
    </ul>
</div>
