<header class="header">
    <nav class="nav">
        <div class="container">
            <div class="logo" style="background-image: url(<%= config.logo || theme.logo %>);">
                <a href="<%= config.url || theme.url %>"></a>
            </div>
            <a href="<%= config.url || theme.url %>"><span class="logo-name QanelasSoft">INFINI</span></a>
            <div class="icon icon-nav js-icon-nav<%= theme.showNav == true ? ' visible' : '' %>"></div>
        </div>
    </nav>
</header>

<div class="panel js-panel" data-type="menu">
    <ul class="menu">
        <% for (var name in theme.menus) { %>
        <li><a href="<%= theme.menus[name] %>"><%= name %></a></li>
        <% }; %>
    </ul>
</div>
